.transactionhistory {
  width: fit-content;
  margin: 50px auto 0 auto;

  background-color: white;
  border: 1px solid rgba(54, 54, 54, 0.26);
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 1px 1px 5px rgba(49, 49, 49, 0.329);

  text-align: center;
}

.transactionhistory th {
  padding: 20px 60px;

  text-transform: uppercase;
  border-bottom: 1px solid rgba(49, 49, 49, 0.329);
}

.transactionhistory td {
  padding: 15px 10px;
}

.transactionhistory td:first-child {
  padding-left: 70px;
  text-transform: uppercase;
  text-align: left;
}

.transactionhistory tr:nth-child(even) {
  background-color: rgb(228, 228, 228);
}
